@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}


html, body {  
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url(./background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: cover;
    background-size: cover;
}

body {
    max-width: 100%;
}

.company__name {
    color: #fff;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
}

.nav__link--list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    position: absolute;

}

a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    font-size: 24px; /*Makes the hamburger menu bigger than its default size*/
    background-color: transparent; /*Transparency applied to the original bg*/
    text-align: center; /*Centers the hamburger between the header and very top of page*/
    border: none; /*No border will be applied*/
    color: #fff; /*White Color for the hamburger*/
    cursor: pointer;
}

.nav__link--anchor {
    position: relative;
    bottom: 32px;
}

li {
    margin: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link--more {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/*Hamburger Menu*/

.menu__backdrop {
    position: absolute; /*Ensures the menu position doesn't change regardless when used in conjunction with top,right,bottom, or left properties*/
    top: 0; /*Centers the backdrop menu on mobile when clicked*/
    left: 0; /*Centers the backdrop menu on mobile when clicked*/
    right: 0; /*Centers the backdrop menu on mobile when clicked*/
    bottom: 0; /*Centers the backdrop menu on mobile when clicked*/
    z-index: 100; /*Menu backdrop will always be shown due to the high z-index*/
    display: flex;/*Responsive within the container*/
    background-color: #242424; /*Black bg color*/
    transition: all 300ms ease; /*Will have a easy fade in completely after a 300ms*/
    align-items: center; /*Centers Vertically*/
    justify-content: center; /*Centers Horizontally*/
    opacity: 0; /*Makes the backdrop fully opaque*/
    visibility: hidden; /*backdrop will be hidden until its clicked*/
    display: none; /*Will NOT be shown on desktop*/
}

.menu--open .menu__backdrop {
    visibility: visible; /*Makes the backdrop visible when clicked*/
    opacity: 1; /*Makes the backdrop fully transparent when opened*/
}

.nav__link--bars--closed {
    position: absolute; /*The Exit button will ALWAYS be in its original top right position*/
    right: 14px; /*Makes the Exit Button 20px away from the left*/
    top: 14px; /*Makes the Exit Button 20px away from the center-right*/
    padding: 10px; /*Pushes exit button away from edge of page 8px all directions*/
    color: white; /*white color for exit button*/
}

.menu--open {
    max-height: 100vh; /*Max height applied to the hamburger menu upon click*/
    overflow-y: hidden; /*Will make the page below the header not be shown, otherwise it will*/
}

.nav__link--list--mobile {
    display: flex; /*Responsive*/
    flex-direction: column; /*Items will be on top of each other and justify-content applied*/
    align-items: center; /*Centers Vertically in conjuction with flex-direction*/
}

.nav__link--mobile {
    padding: 32px 0; /*Padding Top and Bottom*/
}

.nav__link--anchor--mobile {
    font-size: 40px; /*Makes item options bigger*/
    color: #fff; /*Applies white color to text*/
}

.menu--open .menu__backdrop {
    display: flex; /*Reponsive*/
}


/*================================================*/
.simple__way {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 2);
    padding: 132px 0;
    
}

.simple__way--para {
    text-transform: capitalize;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.simple__way--motivate {
    margin-top: 24px;
    color: rgb(150, 142, 142);
    font-size: 16px;
    padding-left: 64px;
}



form {
    color: #fff;
    
}

.signup__form {
    color: #eee;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 32px;
    letter-spacing: 1px;
}

.signup__form--input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ddd;
    color: #fff;

}


input[type=text],
input[type=email],
input[type=password] {
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(202, 198, 198, 0.2);
    width: 375px;
    height: 40px;

}

#togglePassword {
    float: right;
    margin-left: 300px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }


.submit__form {
    background-color: rgb(11, 97, 255);
    color: #fff;
    width: 100%;
    cursor: pointer;
    text-align: center;
    width: 375px;
    height: 40px;
}



.simple__way--clicking {
    margin-top: 20px;
    color: rgb(150, 142, 142);
    font-size: 12px;
}

.terms {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
}

#end__page {
    color: #fff;
    font-size: 12px;
    display: flex;
  align-items: center;
  justify-content: space-between;
 
}


.footer__copyright {
    font-size: 12px;
    font-weight: lighter;
    margin-left: 56px;
}


.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* RESPONSIVE MOBILE*/

@media  (max-width: 550px) {
   
    button {
        padding-right: 48px;
    }

    .nav__link--list {
        display: none;
    }

    .nav__link--more {
        display: block;
        width: 100%;
        padding: 0 24px;
    }
    
     .simple__way {
        width: 100%;
        margin: 0;
        padding-right: 20px;
        font-size: 12px;
        text-align: center;
        
    }
   .simple__way--motivate {
      padding-left: 50px;
       text-align: left;
       width: 100%;
   }
   
   .footer__copyright {
       display: flex;
       flex-direction: column;
   }

   .footer__link {
    display: block;
}


input[type=text],
input[type=email],
input[type=password] {
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(202, 198, 198, 0.2);
    width: 225px;
    height: 40px;
    
}

.submit__form {
    background-color: rgb(11, 97, 255);
    color: #fff;
    width: 100%;
    cursor: pointer;
    text-align: center;
    width: 225px;
    height: 40px;
}

.signup__form--input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ddd;
    color: #fff;
    width: 225px;
    

}



#togglePassword {
    float: right;
    margin-left: 150px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }


}


